.container {
  position: absolute;
  margin-left: -90px;
}

.btn {
  margin-top: 20px;
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  margin-top: 20px;
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn.active {
  transition: 1s ease-in-out;
  background: #4F95DA;
}

.btn.active svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 24px;
  font-weight: 400;
}